body {
  padding-left: 2em;
  padding-top: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.error {
  color: red;
  font-size: 1.25em;
}

.submit {
  display: flex;
  vertical-align: bottom;
}

.libre {
  background-color: #02b538;
}

.complet {
  background-color: #ed5f5f;
}


.text {
  align-self: center;
}

.horaire {
  margin-top: 1em;
  width: 40%;
  padding: 1em;
}

td, th {
  text-align: center;
  padding: 0.5em 1em 0.5em 1em;
}

tr {
  border: solid;
  border-width: 2px 0;
}

.th {
  text-align: left;
  padding: 0.5em 1em 0.5em 1em;
  background-color: #a8e0f7;
}
